.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;       
  min-height: 100vh;         
  padding: 1.5rem;           
  background: linear-gradient(135deg, #e0c3fc 0%, #8ec5fc 100%);
  font-weight: 700;

}
.logout-button {
    padding: 0.5rem 1rem;
    background-color: #dc2626;
    color: white;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    cursor: pointer;
}
.logout-button:hover {
    background-color: #b91c1c;
}


